<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>bookstore.user.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>tools.verifycode.VerifyCodeServlet</servlet-class>
    </servlet>
    <!--<filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>tools.filter.EncodingFilter</filter-class>
    </filter>-->
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>bookstore.category.servlet.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>bookstore.book.servlet.BookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartItemServlet</servlet-name>
        <servlet-class>bookstore.cartItem.servlet.CartItemServlet</servlet-class>
    </servlet>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>bookstore.filters.LoginFilter</filter-class>
    </filter>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>bookstore.order.servlet.OrderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/vcServlet</url-pattern>
    </servlet-mapping>
    <!--<filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/BookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartItemServlet</servlet-name>
        <url-pattern>/CartItemServlet</url-pattern>
    </servlet-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/jsps/cart/*</url-pattern>
        <servlet-name>CartItemServlet</servlet-name>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
</web-app>